import os


class Config:
    PWD=os.path.dirname(os.path.realpath(__file__))
    
    class NetBox:
        URL=""
        TOKEN=""
    

if __name__ == "__main__":
    print(os.path.realpath(__file__))
